@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans-regular.woff) format('woff'), url(../fonts/opensans-regular.eot) format('embedded-opentype'); 
}

body{
	font-family: "Helvetica Neue" !important;
}

section{
	page-break-after:always;
	padding-top: 100px;
}

section:first-child{
	padding-top: 0px;
}


section.cont{
	padding-top: 40px;
}

.container{
	border-left: 2px solid #333;
	border-right: 2px solid #333;
}

.bootstrap-sf1{
	background-color: #fff;
}

 .bootstrap-sf1 .container{
 	max-width: 800px;
 	padding: 0px !important;
 }

.header{
	background-color: #009ddc;
	color: #fff;
	padding: 100px 40px 6px 40px;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.bootstrap-sf1 p{
	display: block;
	margin: 0px 40px;
	margin-bottom: 20px;
}

.bootstrap-sf1 h1{
	margin: 10px 40px;
	padding-bottom: 4px;
	margin-top: 15px;
	border-bottom: 3px solid #009ddc;
	font-size: 20px;
}

.bootstrap-sf1 h2{
	margin: 15px 40px;
	margin-bottom: 3px;
	font-size: 20px;
	border-bottom: 2px solid #009ddc;
	text-transform: uppercase;
}

.bootstrap-sf1 h3{
	margin: 15px 40px;
	margin-bottom: 3px;
	font-size: 17px;
	text-transform: uppercase;
}

.bootstrap-sf1 ul {
  display: block;
	margin: 10px 20px;
	margin-bottom: 6px;
}

ul li a{
	display: block;
}

.bootstrap-sf1 ol {
  counter-reset: section;
  display: block;
	margin: 0px 0px;
	margin-top: 10px;
	margin-bottom: 6px;
	list-style-type: none;
	font-weight: 500;
}

.bootstrap-sf1 ol li:before {
  counter-increment: section;
  content: counters(section,".") ".";
  font-weight: bold;
  margin-right: 5px;
}

.bootstrap-sf1 ol li{
	margin: 6px 0px 6px 5px;
}



.red{
	color: #bc171f;
}

.blue{
	color: #009ddc;
}

.msg{
	margin: 13px 40px;
	position: relative;
	min-height: 30px;
}

.msg__alert span{
	position: absolute !important;
	left: 0px;
	top: 	0px;
	background-color: #bc171f;
  background-image: url("../icons/custom/custom77_120.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.msg__info span{
	position: absolute !important;
	left: 0px;
	top: 	0px;
	background-color: #009ddc;
  background-image: url("../icons/custom/custom73_120.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.msg p{
	padding-top: 0px;
	line-height: 17px;
	font-size: 14px;
	font-weight: 400;

}

@media print {
  .container{
  	padding: 0px !important;
  	border: none;
  }

	section{
		page-break-after:always;
		padding-top: 0;
	}


}